@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.wrapped { /* INVOLUCRO GENERALE */
   
    height: 100vh;
    display: flex;
    flex-direction: column;
	position: relative;
}

/**---------------------------------------------------------------*/
.central-wrapper { /* INVOLUCRO CENTRALE */
    max-width: 512px;
    background: linear-gradient( #000000 0%,#1e1f22, #1e1f22 25%, #1e1f22 100%);
    display: flex;
    overflow: hidden;
}

.img-server { /* IMMAGINI DEI SERVER */
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sidebar-server { /* BARRA LATERALE */
    width: 80px;
    height: 823px;
    flex-shrink: 0;
    background-color:black;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    row-gap: 3px;  /* spazio tra le immagini */
} 

/**---------------------------------------------------------------*/
h1 {
    font-family: "Sigmar", sans-serif;
    font-size: 27px;
    margin-top: 10px;
    margin-left: 7px;;
}

.header-central { /* HEADER CENTRALE */
    width: 432px;

    background-color: #1e1f22;
    flex-shrink: 0; 
    border: 10px solid #1e1f22; 
    border-top-left-radius: 20px;
    margin-top: 10px;
    color: rgb(252, 249, 252);
}

.add-friends {    /* DIV CONTENITORE ICONE AGGIUNGI AMICI E CERCA */
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    gap: 30px;
    margin-left: 7px;

}
/* ESTETICA ICONA DI CERCA E AGGIUNGI AMICI */
.friends-icon { 
    background-color: rgb(61, 56, 56);
    border-radius: 5cap;   
     
}

.primary-icon {  /* ICONA LENTE */
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;      
    justify-content: center;
}

.secondary-icon { /* ICONA AGGIUNGI AMICI */
    width: 330px;
    height: 30px;
    display: flex;
    align-items: center;     
    justify-content: center;
}

/* ----------*/

.img-user { /* IMMAGINI UTENTI */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container-user {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
   
   
}

.user{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  font-family: "Sigmar", sans-serif;
   
}

.message {
font-size: 15px;
color: gray;
font-family: "Sigmar", sans-serif;
}

.time {
    font-size: 12px;
    color: gray;
}

.user-text {
    flex: 1;
    padding-right: 13px;
      color: gray;
}

.user-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**---------------------------------------------------------------*/

footer { /* FOOTER */
    height: 80px;
    background-color:rgb(68, 66, 66);
    width: 512px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:110px;
    color: white;
    text-align: center;
    font-family: "Sigmar", sans-serif;
    
}

.dimension {
    font-size: 30px; /*per le icone*/
    color: white;

    width: 30px; /*per l'immagine profilo*/
    height: 30px;
    border-radius: 50%;
}

/**---------------------------------------------------------------*/

/* EXTRA */

/* EFFETTO HOVER SULLE IMMAGINI DEI SERVER */
.sidebar-server > div:hover{  
    border-left: 9px solid white;
    border-radius: 10px;
	color: white;
    padding-left: 7px;
    position: relative; 
    transform:
}

/* STATO ONLINE UTENTE */
.state {
   width: 23px;
   height: 23px;
   background-color: red;   
   border: 6px solid #1e1f22;  
   border-radius: 50%;  
   position: absolute;
   transform: translate(30px, 20px);
   
}



