@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.wrapped { /* INVOLUCRO GENERALE */
   
    height: 100vh;
    display: flex;
    flex-direction: column;
	position: relative;
}

/**---------------------------------------------------------------*/
.central-wrapper { /* INVOLUCRO CENTRALE */
    max-width: 512px;
    background-color: blue;
    display: flex;
    overflow: hidden;
}

.img-server { /* IMMAGINI DEI SERVER */
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.sidebar-server { /* BARRA LATERALE */
    width: 80px;
    height: 823px;
    flex-shrink: 0;
    background-color:palevioletred;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
    row-gap: 3px;  /* spazio tra le immagini */
}

.sidebar-server > div:hover{  /* EFFETTO HOVER SULLE IMMAGINI DEI SERVER */
    border-left: 9px solid white;
    border-radius: 10px;
	color: white;
    padding-left: 7px;
    position: relative;
    
}

/**---------------------------------------------------------------*/
.header-central { /* HEADER CENTRALE */
    width: 432px;
    background-color: yellow;
    flex-shrink: 0; 
    border: 10px solid yellow; 
    border-top-left-radius: 20px;
    margin-top: 10px;
}

/**---------------------------------------------------------------*/
 
 main {
        flex-grow: 1;
        overflow-y: auto; 
}
    
footer { /* FOOTER */
    height: 80px;
    background-color: red;
     max-width: 512px;
    
}
